.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  width: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: -15px 15px 20px black;
}

#background {
  padding-top: 10vh;
  width: stretch;
  position: absolute;
  z-index: -1;
  font-size: calc(60px + 2vmin);
  text-align: justify;
  color: transparent;
  text-shadow: 10px 0px 15px rgba(0, 0, 0 ,1);
  line-height: 10vh;
  user-select: none;
  background-color: rgba(0, 0, 0 ,.2);
}

#perfil{
  max-height: calc(10px + 50vmin);
  margin-top: 10px;
  box-shadow: -15px 15px 20px black;
}

.btbar{
  margin-top: 10px;
  min-width: 80vw;
  background-color:rgb(255, 255, 255);
  display: flex;
  border-radius: 50px;
  padding: 0px 2vw 0px 2vw;
  width:fit-content;
  box-shadow: -15px 15px 20px black;
}
.btbar > div{
  font-size: calc(10px + 2vmin);
  background-color: white;
  flex-grow: 1;
  border: 2px solid rgba(0, 0, 0 ,.6);
}

.btn > img{
  max-height: calc(25px + 1vmin);
}

.btn{
  padding-top: .3rem;
  cursor: pointer;
  border: 0;
  border-style: groove;
  text-align: center;
  user-select: none;
}

.btn:hover{
  background-color: rgb(214, 214, 213);
}

.btn.on{
  border: 3px solid black;
  border-bottom: 0;
}

.showPanel{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel{
  padding-top: 10px;
  background-color:rgb(255, 255, 255);
  min-width: 80vw;
  font-size: calc(10px + 2vmin);
  min-height: 30vh;
}