.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.App-header {
  position: fixed;
  background-color: #282c34;
  min-height: 10vh;
  width: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: -15px 15px 20px black;
  z-index: 100;
}

body{
  overflow-x: hidden;
}

#background {
  width: 200%;
  height: 34vh;
  position:fixed;
  z-index: -1;
  font-size: calc(40px + 2vmin);
  text-align: justify;
  color: transparent;
  text-shadow: 10px 5vh 10px rgba(0, 0, 0 ,1);
  line-height: 5vh;
  user-select: none;
  background-color: rgba(0, 0, 0 ,.2);
  transform: scale(.5,3);
  transform-origin: left;
  transform-origin: top;
  overflow: hidden;
}

#perfil{
  max-height: calc(10px + 50vmin);
  margin-top: 10px;
  box-shadow: -15px 15px 20px black;
}

.btbar{
  margin-top: 10px;
  min-width: 80vw;
  background-color:rgb(255, 255, 255);
  display: flex;
  border-radius: 50px;
  padding: 0px 2vw 0px 2vw;
  width:fit-content;
  box-shadow: -15px 15px 20px black;
}

.btbar > div{
  font-size: calc(10px + 2vmin);
  background-color: white;
  flex-grow: 1;
}

.btbar > div:hover{
  border: 2px solid rgba(0, 0, 0 ,.6);
  filter: blur(.1rem);
}

.btn > img{
  max-height: calc(25px + 1vmin);
}

.btn{
  cursor: pointer;
  border: 0;
  text-align: center;
  user-select: none;
  padding: .3rem;
  cursor: pointer;
  border-style: groove;
  border-radius: .4rem;
  text-decoration: none;  
  font-size: calc(1.1rem + .9vw);
}

.btn:hover{
  background-color: rgb(214, 214, 213);
}

tr .btn:hover{
  border: groove;
  background-color: rgba(169, 236, 149, 0.5);
}

.btn.on{
  border: 3px solid black;
  border-bottom: 0;
}

.showPanel{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
}

.panel{
  padding-top: 10px;
  background-color:rgb(255, 255, 255);
  width: 80vw;
  font-size: calc(10px + 2vmin);
  min-height: 40vh;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  box-shadow: -15px 15px 20px black;
  padding-bottom: 5vh;
  margin-bottom: 5vh;
  padding-right: 3vw;
}

.card{
  margin: 0 10px 0 10px;
  display: flex;
  flex: 1 1 60vw;
  min-height: 15vw;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card.off {
  flex: 1 1 30vw;
}

.card > p {
  padding-left: 5px;
  font-size: calc(.5rem + .5vw);
  max-width: 40vw;
  text-align: justify;
}

.iconGroup{
  user-select: none;
  max-width: 13vw;
  min-width: 14vw;
  height: calc(14vw + 14px);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:center;
  align-content:space-evenly;
  flex-grow: 1;
  padding: 5px;
}

.iconGroup:hover{
  cursor: pointer;
  background: rgba(0, 0, 0 ,.2);
}

.iconGroup > img {
  -webkit-user-drag: none;
  max-width: 5vw;
  margin: 5px;
}

.off p {
  display: none;
}

.panel.v {
  flex-direction: column;
  align-items: center;
}

.modal{
  position:fixed;
  top: 0;
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.modal embed{
  width: 90%;
}

.modal.wait{
  position:absolute;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  z-index: 11;
  cursor: wait;
}

.modal .btn.close{
  top:10vh;
  right: 10vw;
  width: 45px;
  height: 45px;
}

.modal.dropdown{
  text-transform: capitalize;
  background-color: aliceblue;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: -100%;
  left: 150%;
  box-shadow: -7px 7px 7px rgb(0, 0, 0);
  padding-left: 0;
}

.btn.close:hover{
  color: rgb(0, 0, 0);
  background-color: rgb(45, 42, 236);
}

tr .btn{
  padding: 0;
  overflow-y: visible;
}

tr .btn:hover{
border: none;
  border-radius: 25%;
  background-color: rgb(243, 243, 243);
  text-shadow: 0 0 3px rgb(0, 0, 0);
}

.card.w .btn.close{
  position: unset;
}

.btn.close{
  user-select: none;
  position: absolute;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: white;
  background-color: red;
  padding: 0;
  margin: 0;
  justify-content: center;
  max-width: fit-content;
}

form tr{
  margin: 3px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  width: 100%;
  flex-direction: row;
}

form .btn{
  border: groove;
  border-color: transparent;
}

form input{
  font-size: calc(10px + 2vmin);;
  border-style: groove;
  border-radius: .5rem;
  margin: .1rem;
  padding: .2rem;
  height: fit-content;
  width: 50vw;
  max-width: 350px;
}

input[type='checkbox']{
  transform: scale(2, 2);
  margin-right: 10px;
}

td img{
  -webkit-user-drag: none;
  max-width: 3vw;
  margin: 5px;
}

.card.w{
  flex: 1 1 60vw;
  max-width: 70vw;
  min-height: 10px;
  flex-direction: column;
  gap: 10px;
}

.card.w.off div.content{
  display: none;
}

.card.w div.header{
  border: groove;
  border-color: transparent;
}

.card.w.off div.header:hover{
  border: groove;
  border-radius: 15px;
  background-color: rgba(158, 160, 157, 0.5);
}

.card.w div.header:hover{
  border: groove;
  border-radius: 15px;
  background-color: rgba(185, 127, 104, 0.5);
}

.card.w label{
  display: flex;
  align-items: flex-end;
}

.card.w div{
  user-select: none;
  width: 100%;
  display: flex;
  justify-content: left;
}

.card.w img{
  max-width: 5vh;
  -webkit-user-drag: none;
}

.card.w div.db{
  overflow-x: auto;
  justify-content: center;
  overflow: visible;
}

.db table{
  border-collapse: collapse;
  position: relative;
}

.db table tr{
  display: table-row;
}

.db table td{
  border: 2px solid black;
  font-size: 2.2vmin;
}

::-webkit-scrollbar{
  width: 7px;
  height: 7px;
}

 ::-webkit-scrollbar-track{
  box-shadow: inset 0px 0px 2px black;
  border-radius: 1px;
  background: rgb(177, 173, 175);
}

::-webkit-scrollbar-thumb{
  border-radius: 1rem;
  background-color: rgba(22, 21, 22, 0.719);
}

::-webkit-scrollbar-thumb:hover{
  background-color: rgba(67, 139, 221, 0.719);
}

thead{
  background-color: rgba(0, 0, 0 ,.3);
  text-transform: capitalize;
}

td{
  position: relative;
}

ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
}

li{
  padding: 0 5px 0 5px;
  cursor: pointer;
  font-size: calc(13px + .3em);
}

li.on{
  background-color: red;
  color: white;
}

li.on:hover{
  background-color: white;
  color: red;
}

li:hover{
  background-color: rgb(117, 184, 117);
  color: rgb(250, 185, 5);
}


@media (min-width: 1200px){
  .card{
    flex: 1 1 30vw;
  }
}

@media (max-width: 500px){
  form tr{
    flex-direction: column;
  }

  tr{
    display: flex;
    flex-direction: column;
  }
  
  td img{
    max-width: 8vw;
    margin: 5px;
  }
}